* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

body {
  background: linear-gradient(180deg, black, #eefe27);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
}

nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
}

.name {
  /* color: #eefe27; */
  color: transparent;
  text-shadow: 1px 1px #eefe27;
  height: 80px;
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  list-style: none;
  /* background-color: grey; */
  display: flex;
  height: 80px;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.list {
  margin: 2px;
  color: lime;
  position: relative;
  /* position: absolute; */
}
/* 
button {
  background-color: transparent;
  border: none;
  color: transparent;
  text-shadow: 1px 1px #eefe27;
} */

a {
  color: transparent;
  text-shadow: 1px 1px #eefe27;
}

main {
  border: 1px dotted #eefe27;
  margin-left: 25%;
  margin-right: 25%;
  height: 300px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  position: relative;
  top: 150px;
  flex-grow: 1;
}

div {
  /* border: 1px solid white; */
  display: flex;

  /* justify-content: space-around;
  align-items: center; */
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.quote {
  display: flex;
  color: transparent;
  text-shadow: 1px 1px #eefe27;
  margin-bottom: 
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 105px;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
}
